openapi: 3.1.0
info:
  title: tmpmail API
  version: 1.0.0
  description: |
    Read-only API for temporary inbound mail. All messages expire automatically,
    normally one hour after receipt. There is no outbound email API.
servers:
  - url: https://tmpmail.fyi
    description: Replace with your tmpmail domain.
paths:
  /healthz:
    get:
      operationId: healthcheck
      summary: Check whether the HTTP service is responsive
      responses:
        '204':
          description: Service is healthy.
  /api/v1/inboxes/{inbox}:
    get:
      operationId: listInboxMessages
      summary: List active messages for an inbox
      parameters:
        - $ref: '#/components/parameters/Inbox'
        - name: limit
          in: query
          description: Maximum messages to return (default 25, maximum 100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: offset
          in: query
          description: Zero-based number of messages to skip (default 0).
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: A page of active messages, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InboxPage'
        '500':
          $ref: '#/components/responses/StorageError'
  /api/v1/messages/{id}:
    get:
      operationId: getMessage
      summary: Retrieve one active message, with RFC 822 headers and MIME body separated
      parameters:
        - name: id
          in: path
          required: true
          description: The opaque message ID returned by the inbox endpoint.
          schema:
            type: string
            pattern: '^[a-f0-9]{32}$'
      responses:
        '200':
          description: The active message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '404':
          description: The message does not exist or has expired.
        '500':
          $ref: '#/components/responses/StorageError'
components:
  parameters:
    Inbox:
      name: inbox
      in: path
      required: true
      description: Full recipient email address, URL-encoded when necessary.
      schema:
        type: string
        format: email
        example: build-482@tmpmail.fyi
  schemas:
    InboxPage:
      type: object
      required: [messages, offset, limit, hasMore]
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MessageSummary'
        offset:
          type: integer
          minimum: 0
          example: 0
        limit:
          type: integer
          minimum: 1
          example: 25
        hasMore:
          type: boolean
          description: Whether another page is available after this one.
          example: true
    MessageSummary:
      type: object
      required: [id, recipient, from, subject, received, expiresAt, size]
      properties:
        id:
          type: string
          pattern: '^[a-f0-9]{32}$'
          example: 7543ecea3e034ec5bd7819eddec764d9
        recipient:
          type: string
          format: email
          example: build-482@tmpmail.fyi
        from:
          type: string
          example: sender@example.org
        subject:
          type: string
          example: Your verification code
        received:
          type: string
          format: date-time
          example: '2026-08-25T20:15:00Z'
        expiresAt:
          type: string
          format: date-time
          example: '2026-08-25T21:15:00Z'
        size:
          type: integer
          format: int64
          minimum: 0
          description: Raw message size in bytes.
          example: 843
    Message:
      allOf:
        - $ref: '#/components/schemas/MessageSummary'
        - type: object
          required: [headers, body]
          properties:
            headers:
              type: string
              description: Original RFC 822 header block, without the separating blank line.
              example: "From: sender@example.org\r\nSubject: Your verification code"
            body:
              type: string
              description: Original raw MIME body, without RFC 822 headers or the separating blank line.
              example: "123456"
  responses:
    StorageError:
      description: The message store could not be read.
